# ==========================================
# PUBLIC API ROUTES
# ==========================================
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_ANALYSIS_API_URL=

# ==========================================
# NEXT.JS SECRETS
# ==========================================
NEXT_REVALIDATE_SECRET=

# ==========================================
# EXTERNAL INTEGRATIONS
# ==========================================
GITHUB_READ_USER_TOKEN_PERSONAL=
WAKATIME_API_KEY=
MONKEYTYPE_API_KEY=

# ==========================================
# UMAMI / POSTHOG ANALYTICS
# ==========================================
UMAMI_API_KEY=
UMAMI_WEBSITE_ID=
DOMAIN=https://kenantomfie.site

NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
POSTHOG_PERSONAL_API_KEY=
POSTHOG_PROJECT_ID=
