/* @import "../../vars.css"; */

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}


.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Menjaga title kiri, menu kanan */
    padding-top: 30px; /* Dikurangi untuk mobile */
  }

  .menu {
    position: relative; /* Gunakan relative agar gampang disejajarkan */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 50px;
    right: 0;
    border-radius: 10px;
    background: rgb(12, 28, 56);
    background: linear-gradient(
      180deg,
      rgba(25, 55, 109, 1) 0%,
      rgba(15, 35, 70, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
